extends ../layouts/application.pug

block header
  = t('views.users.edit.title')

block content
  +formFor(user)(action=routeTo('patchUser', { id: Number(user.id) }) method='post')
    +input(user, 'firstName', errors)(type="text" value=user.firstName maxlength='100')
    +input(user, 'lastName', errors)(type="text" value=user.lastName maxlength='100')
    +input(user, 'email', errors)(type="text" value=user.email maxlength='100')
    +input(user, 'password', errors)(type="password" maxlength='100')
    input(name="_method" value='patch' type='hidden')
    +submit(user)(value=t('views.users.edit.actionButtons.submit'))