extends ../layouts/application.pug

block header
  = t('views.statuses.index')

block content
  a.btn.btn-warning(href=route('newStatus') type="button")= t('views.statuses.actionButtons.create')
  .table-responsive
    table.table.table-striped
      thead
        tr
          th= t('views.statuses.id')
          th= t('views.statuses.statusName')
          th= t('views.statuses.createdAt')
          th= t('views.statuses.actions')
      tbody
        each status in statuses
          tr
            td= status.id
            td= status.name
            td= formatDate(status.createdAt)
            td
              .d-flex.flex-wrap
                a(href=routeTo('editStatus', { id: status.id }) class="btn btn-warning me-1" type="button")= t('views.statuses.actionButtons.edit')
                +buttonTo(routeTo('deleteStatus', { id: status.id }), 'delete')(class="btn btn-danger" value=t('views.statuses.actionButtons.delete'))
