extends ../layouts/application.pug

block header
  = t('views.tasks.index')

block content
  a.btn.btn-warning.mb-5(href=route('newTask') type="button")= t('views.tasks.actionButtons.create')
  .card.shadow-sm
    .card-body.p-4
      +formFor()
      form(action=route('tasks') method='get')
        .row
          .col-12.col-md
            .input-group.mb-3
              +inputSelectFilter(statuses, 'status')
          .col-12.col-md
            .input-group.mb-3
              +inputSelectFilter(executors, 'executor')
          .col-12.col-md
            .input-group.mb-3
              +inputSelectFilter(labels, 'labels')
        .mb-3.form-switch
          input.form-check-input(
            id="data_isCreatorUser"
            type="checkbox"
            name="isCreatorUser"
          )
          label.form-check-label(for="data_isCreatorUser")= t('views.tasks.actionButtons.checkMyTasks')
        +submit()(value=t('views.tasks.actionButtons.filter'))
  .table-responsive
    table.table.table-striped.mt-5
      thead
        tr
          th= t('views.tasks.id')
          th= t('views.tasks.taskName')
          th= t('views.tasks.statusName')
          th= t('views.tasks.author')
          th= t('views.tasks.executer')
          th= t('views.tasks.createdAt')
          th
      tbody
        each task in tasks
          tr
            td= task.id
            td
              a(href=routeTo('taskPage', { id: task.id }))
                = task.name
            td= task.statuses.name
            td= `${task.creators.firstName} ${task.creators.lastName}`
            td= task.executors ? `${task.executors.firstName} ${task.executors.lastName}` : null
            td= formatDate(task.createdAt)
            td
              .d-flex.flex-wrap
                a(href=routeTo('editTask', { id: task.id }) class="btn btn-warning me-1" type="button")= t('views.tasks.actionButtons.edit')
                +buttonTo(routeTo('deleteTask', { id: task.id }), 'delete')(class="btn btn-danger" value=t('views.tasks.actionButtons.delete'))
