extends ../layouts/application.pug

block header
  = t('views.tasks.index')

block content
  a.btn.btn-warning.mb-5(href=route('newTask') type="button")= t('views.tasks.actionButtons.create')
  .card.shadow-sm
    .card-body.p-4
      +formFor()
      form(action='/tasks' method='get')
        .row
          .col-12.col-md
            .input-group.mb-3
              +inputSelectFilter(statuses, 'statusId')
          .col-12.col-md
            .input-group.mb-3
              +inputSelectFilter(executors, 'executorId')
          //- .col-12.col-md
          //-   .input-group.mb-3
          //-     +inputSelect(labels, 'label')
        .mb-3.form-switch
          input.form-check-input(
            id="data_isCreatorUser"
            type="checkbox"
            name="isCreatorUser"
          )
          label.form-check-label(for="data_isCreatorUser")= t('views.tasks.actionButtons.checkMyTasks')
        +submit()

  table.table.table-striped.mt-5
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.taskName')
        th= t('views.tasks.statusName')
        th= t('views.tasks.author')
        th= t('views.tasks.executer')
        th= t('views.tasks.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td= task.name
          td= task.status.statusName
          td= `${task.creator.firstName} ${task.creator.lastName}`
          td= task.executor ? `${task.executor.firstName} ${task.executor.lastName}` : null
          td= formatDate(task.createdAt)
          td
            .d-flex.flex-wrap
              a(href=routeTo('tasks', { id: task.id }) class="btn btn-warning me-1" type="button")= t('views.tasks.actionButtons.edit')
              +buttonTo(routeTo('tasks', { id: task.id }), 'delete')(class="btn btn-danger" value=t('views.tasks.actionButtons.delete'))
