include ../mixins/forms.pug
include ../mixins/headerButtons.pug

doctype html
html(lang="ru")
  head
    title Hexlet Task Manager
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.flex-column.min-vh-100
    nav.text-white.navbar.navbar-expand-lg.navbar-dark.bg-black
      .container
        a.navbar-brand.border.border-warning.rounded.p-2(href=route('root'))= t('appName')
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.col-lg-auto.d-flex.flex-wrap.me-auto
            +linkButton('users')
            if isAuthenticated()
              +linkButton('statuses')
              +linkButton('tasks')
          if isAuthenticated()
            +buttonTo(route('session'), 'delete')(class="btn btn-warning" value=t('layouts.application.signOut'))
          else
            a.btn.btn-outline-light.me-2(href=route('newSession') type="button")= t('layouts.application.signIn')
            a.btn.btn-warning(href=route('newUser') type="button")= t('layouts.application.signUp')
    .container.wrapper.flex-grow-1

      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1.my-4
        block header
      block content

    footer
      .container.my-5.pt-4.border-top
        a(target="_blank" href="https://ru.hexlet.io") Hexlet
